

/* HARD SKILLS */


.hard-skills {
    margin-top: 17rem;
    width: 90%;
}

.hard-skills h1{
    margin-left: 4rem;
}

.hard-skills .icons-skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


.hard-skills .icons-skill .icon-skill{
    width: 120px;
    height: 120px;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 15px 0px 0px 0px;
    border-bottom:#eb6969 5px solid;

    font-size: 15px;
    font-family: 'Prompt';
    transition: .2s all ease-in-out;
}

.hard-skills .icons-skill .icon-skill .titulo-icon{
    color: #202020;
}

.hard-skills .icons-skill .icon-skill i{
    font-size: 30px;
    color: #eb6969;

}

.hard-skills .icons-skill .icon-skill img{
    width: 50px;
}

.hard-skills .icons-skill .icon-skill:hover{
    transform: scale(.9);
}

