.projetos {

    width: 100%;
    height: 100%;
    padding: 3rem;

    display: flex;
    justify-content: center;
    flex-direction: column;

    border-top: solid #fff 2px;
   

}

.titulo-projetos {
    color: #eb6969;
    text-transform: uppercase;


    font-family: 'Prompt';
    font-size: 7rem;
    letter-spacing: 2rem;

    margin-bottom: 6rem;
}

.container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.row-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    width: 100%;
    height: 100%;
    flex-wrap: wrap;

    padding: 1rem;
    

}

.item-card-destaque {

    border-radius: 15px 0px 15px 0px;
    border-right: #eb6969 5px solid;
    background-color: #303030;

    font-family: 'Signika', sans-serif;
    color: #eb6969;

    margin: 1rem;

    max-width: 100%;
    min-width: 250px;
    width: 20%;
    height: 500px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    transition: .2s all ease-in-out;

}



.item-card-destaque:hover {
    background-color: #404040;
    transform: scale(1.05);
    z-index: 1;

}


.item-card-destaque h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #eb6969;

}

.item-card-destaque .btn-more {
    width: 150px;
    height: 50px;
    background-color: #eb6969;
    color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 3rem;
    z-index: 2;
    cursor: pointer;
    
}


.item-card-destaque .btn-more:hover {
  background-color: #202020;
  color: #eb6969;

}

.none{
    visibility: hidden;
 
}

.row-container p span{
    color: #eb6969;
}

.row-container p {
    margin-top: 7rem;
    margin-bottom: 4rem;
    font-size: 30px;
    color: #202020;
    font-family: 'Prompt';
    text-align: center;
}

.item-card-todos{
    max-width: 100%;
    width: 40%;
    height: 200px;
    
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 20px;
    border-radius: 0px 15px 0px 15px;
    border-left: 3px solid #eb6969;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Prompt';
    transition: .2s all ease-in-out;
}

.item-card-todos:hover{
   opacity: .5;
}

.wrap{
    
    flex-wrap: wrap;
}