.projetos {

    width: 100%;
    height: 100%;
    padding: 3rem;

    display: flex;
    justify-content: center;
    flex-direction: column;

    border-top: solid #fff 2px;

    margin-top: 10rem;

}

.titulo-projetos {
    color: #eb6969;
    text-transform: uppercase;


    font-family: 'Prompt';
    font-size: 7rem;
    letter-spacing: 2rem;

    margin-bottom: 6rem;
    margin-top: 7rem;
}

.container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.row-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 1rem;

}

.item-card-destaque {

    border-radius: 15px 0px 15px 0px;
    border-right: #eb6969 5px solid;
    background-color: rgb(255, 255, 255);

    font-family: 'Signika', sans-serif;
    color: #eb6969;

    margin: 1rem;
    width: 35%;
    height: 500px;

    



    display: flex;
    justify-content: center;
    flex-direction: column;

    transition: .2s all ease-in-out;

}


.infos {
    margin-top: 50%;
}

.item-card-destaque:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    z-index: 1;

}


.item-card-destaque h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #000000;

}

.item-card-destaque .btn-more {
    width: 150px;
    height: 50px;
    background-color: #eb6969;
    color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 3rem;
    z-index: 2;
    cursor: pointer;
    
}


.item-card-destaque .btn-more:hover {
  background-color: #fff;
  border: #eb6969 3px solid;
  color: #eb6969;

}

.none{
    visibility: hidden;
 
}

.row-container p span{
    color: #eb6969;
}

.row-container p {
    margin-top: 10rem;
    font-size: 30px;
    color: #fff;
    font-family: 'Prompt';
}