

/*SOBRE MIM HABILIDADES HISTORICO SLA*/

.sobre-mim {
    display: flex;
    flex-direction: column;

    width: 100%;

    margin-bottom: 10%;



}


.sobre-mim .apresentacao{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.sobre-mim .apresentacao .copwrite {
    font-family: 'Prompt';
    width: 50%;

    margin-top: 10rem;
    margin-left: 8vw;
}

.sobre-mim  h1{
     
    color: #eb6969;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    font-size: 4rem;
    font-family: 'Prompt';
    font-weight: 700;

    margin-bottom: 1rem;

}




.text-inicial {
    max-width: 600px;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;


}

.foto{
    margin-top: 10rem;
    
}
.foto  img{
    border-radius: 100%;
    width: 85%;
}


.soft-skills{

    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    width: 100%;

}

.soft-skills .cards{
    width: 87%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.soft-skills .card{
    max-width: 300px;
    width: 300px;
    height: 100px;
    border: 1px solid #fff;
    color: #fff; 
    border-radius: 5px;
}