

/* SOBRE MIM APRESENTAÇÃO */
@import url(./hardSkills.css);
@import url(./softSkills.css);



.sobre-mim {
    width: 100%;
}
.sobre-mim .apresentacao{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
}
.sobre-mim .apresentacao .copwrite {
    font-family: 'Prompt';
    text-align: center;
}

.sobre-mim  h1{ 
    color: #eb6969;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    font-size: 4rem;
    font-family: 'Prompt';
    font-weight: 700;

    margin-bottom: 3rem;
}

.text-inicial {
    max-width: 600px;
    color: #303030;
    font-size: 2rem;
}

.foto  img{
    margin-top: 3rem;
    border-radius: 100%;
    width: 200px;
}
