

/*SOBRE MIM HABILIDADES HISTORICO SLA*/

.sobre-mim {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100vh;

    margin-bottom: 10%;

}

.copwrite {
    font-family: 'Prompt';
    width: 50%;

    margin-top: 5rem;
    margin-left: 8vw;
}

.text-inicial {
    max-width: 498px;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;

    float: left;
}
