

/* SOFT SKILLS */
.sobre-mim .soft-skills{
    margin-top: 6rem;
    width: 90%;
    
}


.sobre-mim .soft-skills .titulo{
    text-align: center;
    margin-bottom: 3rem;
}


.soft-skills .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: 'Prompt';
}

.soft-skills .card{
    max-width: 510px;
    width: 510px;
    height: 250px;


    color: #000;
    font-size: 20px;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;

    border: #eb6969 solid 2px;
    border-radius: 15px;

    margin-bottom: 2rem;
}
.soft-skills .card .card-icon{
    font-size: 5rem;
    color: #eb6969;
    margin-right: 4rem;
    
}

.soft-skills .card .card-info .card-title{
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    
    font-weight: 700;
}

.soft-skills .card .card-info .card-text{
    font-size: 15px;
    color: #909090;
}
