@media(max-width:1200px) {
    .item-card-destaque {

       
        width: 50%;
       
    
    }

}  

/* @media (max-width:800px) {

    .row-container {
        flex-direction: column;
    }

    .titulo-projetos {
        font-size: 4rem;
        letter-spacing: 1.5rem;
    }

} */
/* 
@media(max-width:430px) {   
    .titulo-projetos {
        letter-spacing: 1rem;
    }

}  */ 